@import "variables";

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  min-height: 100vh;
}

header {
  background-color: $header-color;
  color: white;

  display: grid;
  grid-template-areas:
    "left upper-mid right"
    "left lower-mid right";
  grid-template-columns: 0.5fr 2fr 0.5fr;

  // UPPER
  .upper-bar {
    grid-area: upper-mid;

    .desktop {
      list-style: none;
      width: 100%;

      display: flex;
      align-items: center;

      padding: 5px;

      li {
        padding: 10px;
      }

      :first-child {
        margin-right: auto;
      }

      button {
        color: $button-color;
        padding: 10px;

        border-radius: 1cap;
      }
    }

    .mobile {
      display: none;
    }

    @media (max-width: 1100px) {
      .desktop {
        display: none;
      }

      .mobile {
        list-style: none;
        width: 100%;

        display: flex;
        align-items: center;

        padding: 5px;

        li {
          padding: 10px;
        }

        :first-child {
          margin-right: auto;
        }
      }
    }
  }

  // LOWER
  .lower-bar {
    grid-area: lower-mid;
    font-size: 14px;

    .desktop {
      list-style: none;
      width: 100%;

      display: flex;
      align-items: center;

      padding: 5px;

      li {
        padding: 10px;
        margin-right: 30px;
      }
    }

    @media (max-width: 1100px) {
      .desktop {
        display: none;
      }
    }
  }
}

content {
  background-color: $header-color;

  display: grid;
  grid-template-areas: "left mid right";
  grid-template-columns: 0.5fr 2fr 0.5fr;

  padding: 90px 0 90px 0;

  .main-slogan {
    color: white;
    grid-area: mid;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
      font-size: 2.5rem;
      padding: 5px 0 5px 0;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 300;

      padding: 5px 0 5px 0;
    }
  }

  @media screen and (max-width: 970px) {
    .main-slogan {
      color: white;
      grid-area: mid;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h1 {
        font-size: 5vw;
        padding: 5px 0 5px 0;
      }

      h2 {
        font-size: 3vw;
        font-weight: 300;

        padding: 5px 0 5px 0;
      }
    }
  }
}

main {
  display: grid;
  grid-template-areas:
    "left upper-mid right"
    "left mid right"
    "left mid right";
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.3fr 1fr;

  .form-section {
    grid-area: upper-mid;

    form {
      background-color: $form-border-color;
      position: relative;
      top: -25%;
      margin-bottom: 20px;

      border: 4px solid $form-border-color;
      border-radius: 1cap;

      display: grid;
      grid-template-areas: "left left-mid right-mid right";
      grid-template-columns: 0.6fr 0.7fr 0.7fr 0.3fr;

      gap: 3px;

      .form-item {
        background-color: white;
        font-size: 14px;

        padding: 15px;

        border-radius: 0.5cap;

        .inside-item {
          display: flex;
          align-items: center;

          :first-child {
            padding-right: 8px;
          }

          input::placeholder {
            color: black;
          }

          .where-you-go {
            outline: none;

            font-size: 14px;
            color: black;
          }
        }
      }

      .form-item-btn:hover {
        cursor: pointer;
      }

      .search-button {
        padding: 0px;
        display: block;
        background-color: $form-border-color;

        button {
          border-radius: 0.5cap;
          width: 100%;
          height: 100%;

          background-color: $button-color;
          color: white;

          font-size: 20px;
        }

        button:hover {
          cursor: pointer;
          background-color: #1254bb;
          transition: background-color 0.5s;
        }
      }
    }

    @media screen and (max-width: 1245px) {
      form {
        display: flex;
        flex-direction: column;

        top: -25%;

        .search-button {
          button {
            padding: 10px;
          }
        }
      }

      .flight-checkbox {
        bottom: 15%;
      }
    }

    .flight-checkbox {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      position: relative;
      bottom: 25%;

      input[type="checkbox"] {
        width: 17px;
        height: 17px;
        border-radius: 1cap;
        cursor: pointer;
      }

      label {
        font-size: 14px;
        margin-left: 15px;
      }
    }
  }

  .hotels-section {
    grid-area: mid;

    .main-title {
      margin-bottom: 20px;
    }

    .hotels-list {
      list-style: none;
      display: flex;
      justify-content: space-around;

      .container {
        width: 300px;
        height: 320px;
        border-radius: 0.5cap;
        border: 1px solid lightgrey;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        .hotel-image {
          grid-area: image;
          width: 100%;
          height: 70%;

          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 0.5cap 0.5cap 0 0;
          }
        }

        .description {
          grid-area: description;
          padding: 10px;

          h2 {
            font-size: 16px;
          }

          p {
            font-size: 13px;
            margin-bottom: 5px;
          }

          .rating {
            display: flex;
            align-items: center;

            .rate {
              border-radius: 5px 5px 5px 0;
              padding: 2px;
              margin-right: 8px;

              font-size: 15px;
              color: white;
              font-weight: 200;

              background-color: #1254bb;
            }
          }
        }
      }
    }
  }
}
