@import "variables";

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  min-height: 100vh;
}

header {
  background-color: $header-color;
  color: white;

  display: grid;
  grid-template-areas:
    "left upper-mid right"
    "left lower-mid right";
  grid-template-columns: 0.5fr 2fr 0.5fr;

  // UPPER
  .upper-bar {
    grid-area: upper-mid;

    .desktop {
      list-style: none;
      width: 100%;

      display: flex;
      align-items: center;

      padding: 5px;

      li {
        padding: 10px;
      }

      :first-child {
        margin-right: auto;
      }

      button {
        color: $button-color;
        padding: 10px;

        border-radius: 1cap;
      }
    }

    .mobile {
      display: none;
    }

    @media (max-width: 1100px) {
      .desktop {
        display: none;
      }

      .mobile {
        list-style: none;
        width: 100%;

        display: flex;
        align-items: center;

        padding: 5px;

        li {
          padding: 10px;
        }

        :first-child {
          margin-right: auto;
        }
      }
    }
  }
  //  1000px !!!!!!!!!!
  // LOWER
  .lower-bar {
    grid-area: lower-mid;
    font-size: 14px;

    .desktop {
      list-style: none;
      width: 100%;

      display: flex;
      align-items: center;

      padding: 5px;

      // :first-child {
      //   border: 1px solid white;
      // }

      li {
        padding: 10px;
        margin-right: 30px;
      }
    }

    @media (max-width: 1100px) {
      .desktop {
        display: none;
      }
    }
  }
}
